<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="

        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



  <bean id="alien" class="com.nerchuko.SpringDemo.Alien" autowire="byType">
	<property name="age" value="10"></property>  <!--  =assign values for primitive types-->
		 
	 <!-- <property name="comp" ref="comp"></property>  =assign values for reference types-->
	  
	  <!--  <constructor-arg value="22"></constructor-arg> = to call constuctors with params-->
	   <!-- <constructor-arg ref="laptop"></constructor-arg> = to call constuctors with params-->
	</bean>
 
 <!-- 
above is same as 
 <bean id="alien" class="com.nerchuko.SpringDemo.Alien" scope="singleton"></bean> = when only one instance is maintained
 
 
  <bean id="alien" class="com.nerchuko.SpringDemo.Alien" scope="prototype" ></bean>   = for multiple istances-->


<!-- <bean id="comp" class="com.nerchuko.SpringDemo.Laptop"></bean>-->


<!-- <bean id="laptop" class="com.nerchuko.SpringDemo.Laptop"></bean>-->
 
 <bean id="desktop" class="com.nerchuko.SpringDemo.Desktop"></bean>

</beans>